<div class="container col-md-6 pt-4">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search ......" [(ngModel)]="search">
    <div class="input-group-append">
      <span class="input-group-text" style="height: 40px" (click)="searchCity()">
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
</div>
<br/>

<div class="col-md-6 offset-md-3 mt-5 pt-3" *ngIf="have">
  <div class='row row-cols-8'>
    <app-city-card [hero]="data"></app-city-card>
  </div>
</div>
